.pagina-inicial__card_row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  justify-content: center;
}

.pagina-inicial__card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: none;
  gap: 4px;
}
