.cabecalho__root {
  background-color: var(--cor-primaria-clara);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.cabecalho__avatar {
  background-color: var(--cor-cinza);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  color: var(--cor-texto-claro);
}
